body {
  background: #b4b0b4;
}
.container{
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 7px 8px 9px;
  border-radius: 7px;
  background-color: rgb(110, 110, 110);
}

h1, h2 {
  text-align: center;
  padding-top: 25px;
  font-size: 40px;
  color: aliceblue;
}

ul {
  text-align: left;
  padding-left: 250px;
  margin-top: 20px;
  font-size: 25px;
} 

/* Galaxy S5 */

@media only screen and (min-width: 100px) and (max-width: 601px) {

  ul {
    text-align: left;
    padding-left: 50px;
    margin-top: 20px;
    font-size: 20px;
  }

  h1, h2 {
    text-align: center;
    padding-top: 25px;
    font-size: 35px;
    color: aliceblue;
  }

  .container{
    width: auto;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 7px 8px 9px;
    border-radius: 7px;
    background-color: rgb(110, 110, 110);
    margin: 30px 13px 0px 13px;
  }

}

/* Iphone 6/7/8 */
@media only screen and (min-width: 414px) and (max-width: 736px) {

  ul {
    text-align: left;
    padding-left: 50px;
    margin-top: 20px;
    font-size: 20px;
  }

  h1, h2 {
    text-align: center;
    padding-top: 35px;
    font-size: 30px;
    color: aliceblue;
  }

  .container{
    width: auto;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 7px 8px 9px;
    border-radius: 7px;
    background-color: rgb(110, 110, 110);
    margin: 30px 13px 0px 13px;
  }
}